.container{
    padding: 30px;
}

h1{
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    color: #4976a7;
}

input[type="text"]{
    margin-bottom: 30px;
}

.results{
    height: 70vh;
    border-radius: 20px;
    margin: 15px auto;
}

.results img{
    width: 80px;
    height: 80px;
}